.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.home__header {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	align-items: center;
}

.home__header a {
	margin-right: 20px;
	text-decoration: inherit;
	color: #252525;
	font-size: 1rem;
}
.home__header a:hover {
	text-decoration: underline;
}

.home__headerRight {
	display: flex;
	align-items: center;
	min-width: 13vw;
	justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
	margin-right: 20px;
}

.home__body {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.home__body > img {
	object-fit: contain;
	height: 100px;
	cursor: pointer;
}
